@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Nabla&family=Rubik+Puddles&display=swap');

body {
   
    margin: 0;
    padding: 0;
    background-image: url('/pics/Hintergrund.jpg');
    background-size: cover;
}


h1 {
   font-family: "Rubik Puddles", system-ui;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-family: "Alumni Sans Pinstripe", system-ui;
    font-size: 1.5rem;
    text-align: center;
}
.game-mode-selection {
    font-family: "Alumni Sans Pinstripe", system-ui;  
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}